#Header-Container{
  padding: 15px;
  background-color: #F7F8F8;
  height: 80px !important;
}

#Olx-logo{
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 70px;
  height: 60px;
  padding: 10px;
  margin: 20px;
}
#Header_login{
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  right: 300px;
  top: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: #002F34;
}

.form-control{
  height: 45px !important;
  border: 2px solid #002F34 !important;
  position: relative;
  right: 390px;
  outline: none;
  width: 600px !important;
}
.btn-outline-secondary{
  width: 50px !important;
  position: relative;
  right: 391px;
  outline: none;
  background-color: #002F34 !important;
}

#headerInput{
  border: 2px solid #002F34;
  height: 45px;
  width: 280px;
  border-radius: 5px;
  padding: 10px;
  background-image: url('.//Images/output-onlinepngtools\ \(2\).png');
  background-size: 30px;
  background-position: 11px;
  background-repeat: no-repeat ;
  text-align: center;
  position: relative;
  left: 100px;
}
#headerInput:active{
  border: 2px solid cyan;
}
#header-overlay{
  position: absolute;
  left:  118px;
  top: 45px;
  z-index: 3;
  width: 273px;
  height: 350px;
  display: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  
}
#header-overlay-text{
  text-align: center;
}
#Close_Button{
  position: relative;
  left: 200px;
  background-color: white;
  border: none;
  outline: none;
}
.location-li{
  position: relative;
  right:  5px;
  bottom: 1px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  list-style-type: none;
  display: flex;
  color: white;
  width: 270px;
  font-size: 15px;
  outline: none;
  

  
}

.location-li:hover{
  background-color: lightgray;
}
#login-overlay{
  position: absolute;
  left: 0;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 1580px;
  height: 1000px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#continue_phone,#continue_email{
  position: absolute;
  right: -130%;
  top: -240px;
  width: 1600px;
  height: 1000px;
  z-index: 3;
  background-color:black;
  display: none;
}
#back_arrow{
  border: none;
  background-color: white;
  position: absolute;
  left:  5px;
}
#continue_phone_text,#continue_email_text{
  position: absolute;
  left: 50%;
  top: 35%;
  width: 460px;
  height: 490px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  transform: translate(-50%,-50%);
}
#phoneNum_input{
  height: 45px;
  color: #002F34;
  border : 1px solid #002F34;
  border-radius: 5px;
  outline: none;
}
#phoneNum_input:focus{
border: 3px solid darkcyan;
}
#next_btn:disabled{
  width:  400px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #90A4A6;
  background-color: #ebf0f0;
  border-radius: 5px;
  cursor: not-allowed;
}
#next_btn:enabled{
  width:  400px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #002F34;
  border-radius: 5px;
  cursor: pointer;
  
}
.overlay-Btn{
  width:400px ;
  padding: 10px;
  margin: 10px;
  color: #002F34;
  font-weight: bold;
  border: 2px solid #002F34;
  border-radius: 5px;
  position: relative;
  left:  5px;
  transition-property: all;
  transition-duration:  0.5s;;
  
}
.overlay-Btn:hover{
  border: 5px solid #002F34;
  transition: linear;
}
#login-text{
  position: absolute;
  left: 50%;
  top: 35%;
  width: 450px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  transform: translate(-50%,-50%);
 

}
.close{
  background-color: white !important;
  size: 50px;
  color: #002F34 !important;
  position: relative;
  right: 10px;
}
.carousel-item{
  position: absolute;
  left: 40%;
}
.sr-only{
  color: #002F34 !important;
}

#arrow-Btn{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 350px;
  top: 10px;
  transition-property: "click";
  transition-duration: 0.3s;
  cursor: pointer;
}
#arrow-Btn:active{
  transform: rotate(180deg);
}
/* ::placeholder{
  position: relative;
  left: 40px;
  color: #002F34;
} */

#all-categories{
  position: relative;
  top: 15px;
  left: 80px;
  cursor: pointer;
}
.navbar-nav{
  color:black !important;
  font-size: 15px;
  position: relative;
  right: 500px;
  
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}
.nav-link{
  color: black !important;
}
.nav-link:hover{
  color: darkcyan !important;
}
.navbar-nav {
  background-color: white !important;
}

@media screen and (max-width: 400px){
#container-fluid-1{
  position: absolute;
  right:  250px;
  bottom: 580px;
  background-color: whitesmoke;
}
}
@media screen and (max-width: 400px){
  #logo{
    position: relative;
    left: 60px;
    padding: 10px;
  }
}
@media screen and (max-width:400px){
  #headerInput{
    padding: 10px;
    margin: 10px;
  }
}
#LoginBtn{
  background-color:#F7F8F8 !important;
  position: absolute !important;
  right: 100px !important;
}

.User-Ad{
  display: inline-block;
  margin: 10px;
  
}
#User-AD{
  text-align: center;
  padding: 50px;
  cursor: pointer;
}
.card-title{
  text-align: left !important;
}
#hide:active{
  transform: rotate(180deg);
}
#overlay{
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 90%;
  height: 85%;
  display: none;
  
}
#container-text{
position: absolute;
color: white;
margin: 10px;
}
.nav-td{
  padding-right: 120px;
  position: relative;
  bottom: 135px;
  font-weight: 550;
}
.nav-td-hover:hover{
  color: cyan;
  cursor: pointer;
}
.vehicles-li{
  position: relative;
  top: 35px;
  right: 205px;
  list-style-type: none;
  font-size: 14px;

}
.animals-li{
  position: relative;
  top: 35px;
  right: 180px;
  list-style-type: none;
  font-size: 14px;
}
.fashion-li{
  position: relative;
  top:  40px;
  right: 180px;
  font-size: 14px;
  list-style-type: none;
}
.service-li{
  list-style-type: none;
  font-size: 14px;
  position: relative;
  top: 40px;
  right: 180px;

}
#mobile-td{
  position: relative;
  bottom: 180px;
  font-weight: 550;
  width: auto;
}
.mobile-li{
  font-size: 14px;
  list-style-type: none;
  position: relative;
  bottom: 40px;
  left: -195px;
}
#furniture-td{
  position: relative;
  position: relative;
  bottom: 160px;
  right: 10px;
  font-weight: 500;
}
.furniture-li{
  list-style-type: none;
  font-size: 14px;
  position: relative;
  bottom: 20px;
  right: 190px;
}
#property-td{
  position: relative;
  bottom:  120px;
  right: 22px;
  font-weight: 550;
}
.property-li{
  font-size: 14px;
  list-style-type: none;
  position: relative;
  top: 10px;
  right: 200px;
}
#books-td{
  position: relative;
  left: -2px;
  bottom:  40px;
  font-weight: 550;

}
.books-li{
  font-size: 14px;
  list-style-type: none;
  position: relative;
  top: 100px;
  left: -180px;
}
#electronic-td{
position: relative;
bottom:230px;
font-weight: 550;
}
.electronics-li{
  font-size: 14px;
  list-style-type: none;
  position: relative;
  right: 200px;
  bottom: 120px;
}

.container-blur.blur.active{
  filter: blur(20px);
}
.apptext{
  display: inline-block;
  color:  #002F34;
  position: relative;
  left: 15%;
  bottom: 30px;
  font-weight: bold;
}
.phone-app{
  position: relative;
  left: 12%;
}
.app-decription{
  display: inline-block;
  position: relative;
  font-size: 22px;
  top: 50px;
  right:   6%;
  color: #002F34;
}
#get-app{
  font-weight: 600;
  font-size: 15px;
  color: #002F34;
}
#appStore{
  padding: 2px;
  position: relative;
  top: 50px;
  right: 150px;
  cursor: pointer;
}
#playStore{
  padding: 2px;
  position: relative;
  top: 50px;
  right: 140px;
  cursor: pointer;
}
.footer-td{
  margin-left: 50px;
  padding: 62px;
  position: relative;
  bottom: 60px;
  left: 75px;
  font-weight: bold;
  color: #002F34;

}
.footer-hover:hover{
  color: darkcyan;
  cursor: pointer;
}
.Categpries{
  position: relative;
  right: 160px;
  top: 35px;
  font-size: 12px;
  list-style-type: none;
  color: #002F34;
}
.treding{
  position: relative;
  right: 150px;
  top: 35px;
  font-size: 12px;
  list-style-type: none;
  color: #002F34;
}
.about{
  position: relative;
  right: 67px;
  top: 35px;
  font-size: 12px;
  list-style-type: none;
  color: #002F34;
}
.olx{
  position: relative;
  right: 18px;
  top: 35px;
  font-size: 12px;
  list-style-type: none;
  color: #002F34; 
}
.follow{
  position: relative;
  left:  -80px;
  top: 35px;
  color: #002F34; 
  cursor: pointer;
}
#follow_store{
  position: absolute;
  left:  -25px;
  top: 40px;
  display: flex;
  padding: 10px;
}
.social_icon{
  padding: 20px;
  cursor: pointer;
}

.SellBtn{
  width: 100px !important;
  height: 45px;
  position: absolute;
  right: 150px;
  box-shadow: 10px,5px gray;
  font-weight: bolder;
  outline: none;
  border-top: 6px solid#23E5DB;
  border-left: 6px solid #3A77FF;
  border-right: 6px solid  #3A77FF;
  border-bottom: 6px solid #FFCE32;
  border-radius: 20px;
  background-color: white; 
}
.SellBtn:active{
  outline: none;
}

.svg-logo{
  border: hidden;
  background-color: white;
  border-radius: 30px;
  margin: 5px;
}
.svg-logo:hover{
  background-color: cyan;
  
  
}
#CT-Mobile{
  position: relative;
  left: 480px;
  max-width: 1000px;
  height: auto;
  
}
#Filters{
  position: relative;
  bottom: 380px;
  font-size: 20px;
  font-weight: bold;
  color:#002F34;
  right: 130px;
  max-width: 350px;
  height: auto;

}
#usedCheckbox{
  width: 25px;
  height: 25px;
  border: 2px solid #A3B4B5;
}
#used:hover{
  color:  #002F34;
}
#used{
  position: relative;
  bottom: 5px;
}
.Rotat-Arrow{
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.Rotat-Arrow:active{
  transform: rotate(180deg);
}
#UsedItems{
  display: none;
}
#new-Listed{
  background-color: white;
  z-index: 3;
  width: 140px;
  text-align: center;
  position: relative;
  left: 240px;
  bottom: 20px;
  color: #A3B4B5;
  display: none;

}
#filter_Divs1,#filter_Divs2,#filter_Divs2#filter_Divs3,#filter_Divs4{
  color: #A3B4B5;
  display: none;
  font-size: 10px;
  list-style-type: none;

}
.filter_li{
  list-style-type: none;
  font-size: 12px;
  color: #A3B4B5;
  padding: 5px;
  cursor: pointer;
}
.filter_li:hover{
  color: darkcyan;
}
.filter_input{
  margin: 5px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid black;
  background-color: whitesmoke;
  outline: none;
}
.filter_input:focus{
  border-bottom: 2px solid darkcyan;
}
.privacy:nth-child(2){
  color: #A3B4B5;
  font-size: 12px;
}
